# /etc/systemd/system/heating_control.timer
[Unit]
Description=Run heating_control every 5 minutes

[Timer]
# run every 5 minutes past the hour
OnCalendar=*:0/1
# alternative: run at minute 0,15,30,45
# OnCalendar=*:0,15,30,45
# alternative: run every 5 minutes starting at 02 past the hour
# OnCalendar=*:2/5
# alternative: run at exact times (hh:mm)
# OnCalendar=00:00,06:30,18:45
Persistent=true
# Do not wake a suspended host.
WakeSystem=false

[Install]
WantedBy=timers.target
