# /etc/systemd/system/humidity_monitor.timer
[Unit]
Description=Run humidity_monitor every 15 minutes

[Timer]
# run every 15 minutes past the hour
OnCalendar=*:2/15
# alternative: run at minute 0,15,30,45
# OnCalendar=*:0,15,30,45
# alternative: run every 15 minutes starting at 02 past the hour
# OnCalendar=*:2/5
# alternative: run at exact times (hh:mm)
# OnCalendar=00:00,06:30,18:45
Persistent=true
WakeSystem=false

[Install]
WantedBy=timers.target
