body {
    background-color: #fffee4;
    font-family: Arial, sans-serif; /* Set the font */
    color: #e8cc15;
    margin: 0;
    padding: 0;
}
.container {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    width: 80%;
}
h1 {
    font-size: 36px;
    color: #c5ab00;
    margin-bottom: 40px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 20px 0;
}
a {
    text-decoration: none;
    font-size: 36px;
    color: #e8cc15;
}
a:hover {
    color: #c5ab00;
}